<div class="row justify-content-md-center">
  <section class="col col-10">
    <div class="card">
      <a href="#" class="card-header d-flex collapsed js-collapser" data-toggle="collapse" data-target="#ex-02-body" aria-expanded="false" aria-controls="ex-02-body">
        <div class="align-self-center">Exercise 2</div>
        <button class="btn align-self-center ml-auto collapsed js-collapser" type="button" data-toggle="collapse" data-target="#ex-02-body" aria-expanded="false" aria-controls="ex-02-body">
          <span class="oi oi-caret-bottom oi-grey"></span>
        </button>
      </a>
      <div class="card-body collapse" id="ex-02-body">
        <h5>Router - Accumulated ping time (ms):</h5>
        <div class="stacked-bar-chart">
          <svg id="ex-02-svg-stacked-bar-chart" class="d-none"></svg>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="ex-02-submit">JS Run</button>
        </div>
        <div class="border rounded p-3">
          <div>Output:</div>
          <div id="ex-02-result">
            <!-- AJAX Output values -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
