<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/open-iconic/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/stackedBarChart.css">
    <link rel="stylesheet" href="/stylesheets/scatterPlot.css">
    <link rel="stylesheet" href="/stylesheets/general.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <script src="/javascripts/stackedBarChart.js"></script>
    <script src="/javascripts/scatterPlot.js"></script>
    <script src="/javascripts/general.js"></script>
  </head>
  <body class="p-5">
    <div class="container">

      {{> ex01 }}

      <br />

      {{> ex02 }}

      <br />

      {{> ex03 }}

    </div>
  </body>
</html>
